<div class="" style="font-family: 'Jost', sans-serif;">
    {%extends 'base.html'%}
    {%block content%}
    <div class="container-fluid">

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="display-4">Fluid jumbotron</h2>
                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
                </p>
            </div>
        </div>
        <h3>Sample Projects</h3>
        <div class="row">
            {%for proj in projects%}
            <div class="col-md-3">
                <div class="card">
                    <div class="view view-cascade overlay">
                        <img src="{{proj.image.url}}" class="img-fluid" alt="">
                        <a href="projects/{{proj.id}}">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="">project description:{{project.description}}</h5>
                        <a href="{{proj.link}}">Readmore</a>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
{{user.username}}
    {%endblock%}
</div>