<div class="" style="font-family: 'Jost', sans-serif;">
    {%extends 'base.html'%}
    {%block content%}
    <div class="container-fluid">

        <!-- Jumbotron -->
        <div class="card card-image"
            style="background-image: url(https://images.unsplash.com/photo-1524387971136-0329ee358d44?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1668&q=80);background-position: center;background-size: cover;background-repeat: no-repeat; width: 1000mvh; height: 700mvh;">
            <div class="text-white text-center rgba-stylish-strong py-5 px-4">
                <div class="py-5">

                    <!-- Content -->
                    <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> My Awwwards</h5>
                    <h2 class="card-title h2 my-4 py-2" style="color: brown;">Welcome to the best site for viewing awwward.</h2>
                    <p class="mb-4 pb-2 px-md-5 mx-md-5">This is a site where the user is able to add projects and also
                        rate them.</p>
                    <a class="btn peach-gradient"><i class="fas fa-clone left"></i> View project</a>

                </div>
            </div>
        </div>
        <!-- Jumbotron -->
        <h3>Sample Projects</h3>
        <div class="row">
            {%for project in projects%}
            <div class="col-md-3">
                <div class="card">
                    <div class="view view-cascade overlay">
                        <a href="my_projects/{{project.id}}"><img src="{{project.image.url}}" class="img-fluid"
                                alt=""></a>
                        <br>
                        <br>
                        <h5>{{project.title}}</h5>
                    </div>
                    <div class="card-body">
                        <h5 class=""> <strong>Description</strong>: {{project.description}}</h5>
                        <div class="row">
                            <div class="col-md-9">
                                <a href="my_projects/{{project.id}}">Go to ratings</a>
                            </div>
                            <div class="col-md-3">
                                <a href="{{project.link}}">Live link</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    {{user.username}}
    {%endblock%}
</div>