
{%extends 'base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if projects%}
        <h2>Found {{ projects|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 projects for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if projects %}
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card-group">
                <div class="card card-personal mb-4">
                    <div class="view">
                        <img class="card-img-top" src="{{project.image.url}}" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <div class="card-body">

                        <a href="{{project.link}}">view site</a>
                        <h4 class="card-text">{{project.title}}</h4>
                        <p class="card-text">{{project.description}}</p>

                        <hr>
                        <span> By
                            <b>{{user.username}}</b></span>

                        <p class="card-meta float-right">{{project.date_craeted}}</p>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}